<footer class="footer-section fixed">
  <div class="container-fluid">
    <div class="row align-items-center">

      <div class="col-lg-8 col-md-12">
        <div class="work-together">
          <p>
            Let’s work together :) &nbsp;
            <a href="/pages/contact.html">Get in touch</a>
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 text-lg-right">
        <div class="social-links">
          <a href="https://twitter.com/letixmix" target="_blank" rel="noopener" aria-label="Twitter">
            <span class="fa fa-twitter text-dark0"></span>
          </a>
          <a href="https://www.linkedin.com/in/leticiacapelo/" target="_blank" rel="noopener" aria-label="LinkedIn">
            <span class="fa fa-linkedin text-dark0"></span>
          </a>
          <a href="https://dribbble.com/letixmix" target="_blank" rel="noopener" aria-label="Dribbble">
            <span class="fa fa-dribbble text-dark0"></span>
          </a>
        </div>

        <div class="copyright text-dark0">
          &copy; <span id="current-year"></span>
          <a href="/" class="text-dark0">Letixmix</a>. All rights reserved.
        </div>
      </div>

    </div>
  </div>
</footer>
