/* =================================
------------------------------------
  Letixmix - Portfolio
  Version: 1.0
 ------------------------------------ 
 ====================================*/

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #001418;
  margin: 0;
}

.body-index {
    background: linear-gradient(315deg, #ff0000, #ff9400, #eeff00, #179242, #ff0090, #f0a0d1, #a0f0df, #0bbd97);
    background-size: 1000% 100%;
    background-repeat: no-repeat;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;

}

.tags{
  margin-top: 4px;
  width: 100%;

}

.tag {
  background: white;
  border-radius: 2px;
  width: fit-content;
  float: left;
  margin-right: 4px;
  border: 1px solid black;
}

.tags span{
  color: black;
  padding: 2px 8px;
  font-size: 14px;
  border-radius: 2px;
}

.proyecto:hover .tags span{

  cursor: default;
}

.piña-logo{
  height: 360px;
}

.vertical-center {
  min-height: 100%;  
  min-height: 70vh; 
  display: flex;
  align-items: center;
}

.titulo{
  color: #000;
  font-size: 34px;
  line-height: 0;
}
.subtitulo{
  color: #979797;
  font-size: 14px;
  line-height: 0;
}
.descripcion{
  color: #000;
  line-height: 1.8;
}

.descripcion-pro{
  color: #000;
  line-height: 1.8;
  margin-bottom: 200px;
}

.no-padding{
  padding: 0px;
}

p {
  font-size: 18px;
  color: #979797;
  line-height: 1.8;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/*------------------------
  Helper css
--------------------------*/
.body-pad {
  padding: 0 40px;
}

.spad {
  padding: 100px 0;
}

.pt100 {
  padding-top: 100px;
}

.pb60 {
  padding-bottom: 60px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
  font-size: 60px;
}

.section-title span {
  

  background: -webkit-linear-gradient(315deg, #ff0000, #ff9400, #eeff00, #179242, #ff0090, #f0a0d1, #a0f0df, #0bbd97);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 1000% 100%;
    background-repeat: no-repeat;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}

.work-together{
  margin-top: 60px;
  font-size: 16px;
}

.work-together p{  
  color: #000;
  float: left;
  margin-right: 40px;
  line-height: 0;
  margin-top: 22px;
}
.work-together a{
  color: #000;
  border-bottom: 1px dotted black;
}

.work-together a:hover{
  color: #fff;
  background: #000;
  transition: all 0.4s ease 0s;
}

/*------------------------
  Common Elements
--------------------------*/
.element {
  margin-bottom: 100px;
}

.element:last-child {
  margin-bottom: 0;
}

/*=== Preloder ===*/
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
}

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  border-left-color: transparent;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*=== Buttons ===*/
.site-btn {
  display: inline-block;
  font-size: 14px;
  min-width: 140px;
  text-align: center;
  padding: 15px 10px;
  position: relative;
  color: #fff;
  border: none;
  background-color: #000;
  margin-right: 15px;
  z-index: 1;
}

.site-btn.btn-fade {
  background-color: #979797;
}

.site-btn.btn-line {
  background: none;
  border: 2px solid #000;
  color: #000;
  padding: 13px 10px;
}

.site-btn.btn-line:hover {
  color: #000;
}

.site-btn.btn-line-fade {
  background: none;
  border: 2px solid #979797;
  color: #979797;
  padding: 13px 10px;
}

.site-btn.btn-line-fade:hover {
  color: #979797;
}

.site-btn:hover {
  color: #fff;
}

/*===  Accordion  ===*/
.accordion-area .panel {
  margin-bottom: 30px;
}

.accordion-area .panel-header {
  background: #000;
  color: #fff;
  display: block;
  padding: 12px 50px;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  border: 2px solid #000;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.accordion-area .panel-header.active {
  background: transparent;
  color: #000;
}

.accordion-area .panel-header.active .panel-link:after {
  content: "-";
  color: #000;
}

.accordion-area .panel-header.active .panel-link.collapsed:after {
  content: "+";
}

.accordion-area .panel-link {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.accordion-area .panel-body p {
  font-size: 14px;
  margin-bottom: 0;
  padding-top: 25px;
}

.accordion-area .panel-body {
  padding: 0 5px;
}

.accordion-area .panel-link:after {
  content: "+";
  position: absolute;
  left: 50%;
  font-size: 16px;
  font-weight: 700;
  top: 50%;
  color: #fff;
  line-height: 16px;
  margin-top: -8px;
  margin-left: -4px;
}

/*===  Tab  ===*/
.tab-element .nav-tabs {
  border-bottom: none;
  margin-bottom: 35px;
}

.tab-element .nav-tabs .nav-link {
  border: 2px solid #000;
  background: #000;
  border-radius: 0;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  padding: 15px 40px;
  min-width: 118px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.tab-element .nav-tabs .nav-item:last-child .nav-link {
  margin-right: 0;
}

.tab-element .nav-tabs .nav-link.active {
  background: transparent;
  color: #000;
}

.tab-element .tab-pane h4 {
  font-size: 18px;
  margin: 25px 0 20px;
}

.tab-element .tab-pane p {
  font-size: 14px;
}

.circle-progress {
  text-align: center;
  position: relative;
}

.circle-progress canvas {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.circle-progress .progress-info {
  position: absolute;
  width: 100%;
  top: 30%;
}

.circle-progress .progress-info h2 {
  font-size: 36px;
}

.circle-progress .progress-info p {
  color: #979797;
  font-size: 16px;
  line-height: normal;
}

/*===  Icon Box  ===*/
.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-box .icon h2 {
  font-size: 60px;
}

.icon-box .icon-box-content {
  padding-left: 25px;
  padding-top: 10px;
}

.icon-box .icon-box-content h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

/*------------------------
    Header Section
--------------------------*/
.header-section {
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}

.site-logo {
  height: 42px;
}

.linea-colores{
  height: 2px;
  /*degradado*/
  background: linear-gradient(315deg, #ff0000, #ff9400, #eeff00, #179242, #ff0090, #f0a0d1, #a0f0df, #0bbd97);
    background-size: 1000% 100%;
    background-repeat: no-repeat;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}

.main-menu ul {
  list-style: none;
}

.main-menu ul li {
  display: inline;
}

.main-menu ul li a {
  display: inline-block;
  font-size: 18px;
  color: #000;
  margin-left: 15px;
  margin-right: 10px;
  padding: 20px 0 5px;
}

.main-menu ul li a:hover {
  background: -webkit-linear-gradient(315deg, #ff0000, #ff9400, #eeff00, #179242, #ff0090, #f0a0d1, #a0f0df, #0bbd97);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 1000% 100%;
    background-repeat: no-repeat;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}

.main-menu-active {
  
  background: -webkit-linear-gradient(315deg, #ff0000, #ff9400, #eeff00, #179242, #ff0090, #f0a0d1, #a0f0df, #0bbd97);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 1000% 100%;
    background-repeat: no-repeat;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;

  font-weight: bold;
}

.header-btn {
  float: right;
  margin-right: 0;
}

.nav-switch {
  display: none;
}

/*------------------------
    Intro Section
--------------------------*/
.intro-section {
  padding: 110px 0;
}

/*------------------------
    Portfolio Section
--------------------------*/
.portfolio-section {
  overflow: hidden;
}

.portfolio-filter {
  list-style: none;
  padding-bottom: 100px;
}

.portfolio-filter li {
  font-size: 16px;
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 10px;
  color: #979797;
  cursor: pointer;
}

.portfolio-filter li.mixitup-control-active {
  color: #001418;
}

.portfolios-area .gallery-block {
  padding: 0;
}

.control:hover{
  color: #333;
  
}

.gallery-block {
  position: relative;
}

.portfolio-thumb {
  display: block;
  width: 100%;
  height: 600px;
  background-position: center center;
  position: relative;
  margin-bottom: 30px;
}

.portfolio-thumb::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35); /* ajusta opacidad aquí */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-thumb:hover::after {
  opacity: 1;
}

.portfolio-thumb::before {
  content: "\f06e"; /* icono lupa FontAwesome */
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 28px;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.portfolio-thumb:hover::before {
  opacity: 1;
}



.portfolio-item {
  display: block;
  width: 100%;
  height: 600px;
  background-position: center center;
  position: relative;
  margin-bottom: 30px;
}

.portfolio-item .pi-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-item .pi-inner h6 {
  opacity: 0;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*.portfolio-item:hover .pi-inner {
  background: rgba(0, 20, 24, 0.8);
}*/
.dragonball{
  background-image: url("../img/projects/dragonballsuper.png");  

}
.dragonball:hover{
  background-image: url("../img/projects/dragonballsuperhover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

.mimaginate{
  background-image: url("../img/projects/mimaginate.png");
}
.mimaginate:hover{
  background-image: url("../img/projects/mimaginatehover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.unake{
  background-image: url("../img/projects/unake.png");  
}
.unake:hover{
  background-image: url("../img/projects/unakehover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.wao{
  background-image: url("../img/projects/wao.png");  
}
.wao:hover{
  background-image: url("../img/projects/waohover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.meka{
  background-image: url("../img/projects/meka.png");  
}
.meka:hover{
  background-image: url("../img/projects/mekahover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.cincuentai{
  background-image: url("../img/projects/50i.png");  
}
.cincuentai:hover{
  background-image: url("../img/projects/50ihover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.mcr{
  background-image: url("../img/projects/mcr.png");  
}
.mcr:hover{
  background-image: url("../img/projects/mcrhover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.calendula{
  background-image: url("../img/projects/calendula.png");  
}
.calendula:hover{
  background-image: url("../img/projects/calendulahover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.celecosta{
  background-image: url("../img/projects/celecosta.png");  
}
.celecosta:hover{
  background-image: url("../img/projects/celecostahover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.noeliapuche{
  background-image: url("../img/projects/noeliapuche.png");  
}
.noeliapuche:hover{
  background-image: url("../img/projects/noeliapuchehover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.pantonera{
  background-image: url("../img/projects/pantonera.png");  
}
.pantonera:hover{
  background-image: url("../img/projects/pantonerahover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.zoo{
  background-image: url("../img/projects/zoosalvaje.png");  
}
.zoo:hover{
  background-image: url("../img/projects/zoosalvajehover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.letixmix{
  background-image: url("../img/projects/letixmix.png");  
}
.letixmix:hover{
  background-image: url("../img/projects/letixmixhover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.manofsteel{
  background-image: url("../img/projects/manofsteel.png");  
}
.manofsteel:hover{
  background-image: url("../img/projects/manofsteelhover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.maddam{
  background-image: url("../img/projects/maddam.png");  
}
.maddam:hover{
  background-image: url("../img/projects/maddamhover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.creativebooks{
  background-image: url("../img/projects/creativebooks.png");  
}
.creativebooks:hover{
  background-image: url("../img/projects/creativebookshover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.hype{
  background-image: url("../img/projects/hype.png");  
}
.hype:hover{
  background-image: url("../img/projects/hypehover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.lipton{
  background-image: url("../img/projects/lipton.png");  
}
.lipton:hover{
  background-image: url("../img/projects/liptonhover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.pokemon{
  background-image: url("../img/projects/pokemon.png");  
}
.pokemon:hover{
  background-image: url("../img/projects/pokemonhover.png");
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.portfolio-item:hover .pi-inner h6 {
  opacity: 1;
  letter-spacing: 0;

  background: -webkit-linear-gradient(315deg, #ff0000, #ff9400, #eeff00, #179242, #ff0090, #f0a0d1, #a0f0df, #0bbd97);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 1000% 100%;
    background-repeat: no-repeat;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;

  font-weight: bold;

  color: black;
  -webkit-text-stroke: 2px black;
  -webkit-font-smoothing: antialiased;
}

.portfolio-meta {
  padding-bottom: 45px;
}

.portfolio-meta h2 {
  font-size: 24px;
}

.portfolio-meta p {
  font-size: 14px;
  color: #a6a6a6;
  margin-bottom: 0;
}

.portfolio-intro {
  display: block;
}

.img-popup-warp .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.link{
  border-bottom: 1px dotted black;
  color: #000;
}

.link:hover{
  color: #fff !important;
  background: #000;
  transition: all 0.4s ease 0s;
}

/*------------------------
    Footer Section
--------------------------*/
.footer-section {
  /*padding: 80px 0;*/

  margin-top: 120px;
}

.footer-section .copyright {
  font-size: 12px;
  color: #979797;
}

.copyright a{
  border-bottom: 1px dotted black;
}

.copyright-acolor{
  background: -webkit-linear-gradient(315deg, #ff0000, #ff9400, #eeff00, #179242, #ff0090, #f0a0d1, #a0f0df, #0bbd97);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 1000% 100%;
    background-repeat: no-repeat;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}

.copyright a:hover{
  color: #fff !important;
  background: #000;
  transition: all 0.4s ease 0s;
}

.text-dark0{
  color: #000 !important;
}

.social-links {
  margin-top: 66px;
  margin-bottom: 10px;
}

.social-links a {
  color: #979797;
  font-size: 15px;
  margin-right: 30px;
}

.social-links a:hover {
  border-bottom: 1px dotted black;
  transition: all 0.4s ease 0s;
}

.social-links a:last-child {
  margin-right: 0;
}

.fixed{
  position: fixed;
    bottom: 40px;
    left: 40px;
    right: 40px;
}

/*------------------------
    About Page
--------------------------*/
.pic-frame {
  position: relative;
  padding-left: 25px;
  padding-bottom: 25px;
  display: inline-block;
}

.pic-frame:after {
  position: absolute;
  content: "";
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  bottom: 0;
  left: 0;
  border: 2px solid #000;
  z-index: 1;
}

.milestone {
  margin-top: 15px;
}

.milestone h2 {
  font-size: 60px;
}

.milestone h2 span {
  font-size: 18px;
  color: #979797;
}

.section-title-about{
  font-size: 40px;
}



/*------------------------
    Blog Page
--------------------------*/
.blog-item {
  margin-bottom: 70px;
}

.blog-item .read-more {
  color: #000;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  line-height: 18px;
  font-size: 18px;
}

.blog-item .read-more:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #000;
}

.thumb {
  margin-bottom: 30px;
}

.blog-content h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.blog-content .blog-meta {
  font-size: 13px;
  color: #979797;
  margin-bottom: 30px;
}

.blog-content p {
  margin-bottom: 30px;
}

/*------------------------
    Contact Page
--------------------------*/
.contect-tect {
  text-align: center;
  margin-bottom: 70px;
}

.contect-tect h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.contect-tect p {
  font-size: 17px;
}

.contact-form {
  display: block;
  width: 100%;
}

.contact-form input {
  padding-left: 25px;
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
  font-size: 14px;
}

.contact-form textarea {
  padding-left: 25px;
  height: 200px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
  font-size: 14px;
}

.contact-form ::-webkit-input-placeholder {
  /*font-style: italic;*/
}

.contact-form :-ms-input-placeholder {
  /*font-style: italic;*/
}

.contact-form ::-ms-input-placeholder {
  /*font-style: italic;*/
}

.contact-form ::placeholder {
  /*font-style: italic;*/
}

.contact-form button:hover{
  background: -webkit-linear-gradient(315deg, #ff0000, #ff9400, #eeff00, #179242, #ff0090, #f0a0d1, #a0f0df, #0bbd97);

  background-size: 1000% 100%;
    background-repeat: no-repeat;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;

  cursor: pointer;
}

/*///////////////////////////////////////////////////////
    // Progress Bars \\ 
///////////////////////////////////////////////////////*/

.progressBar {
  margin-bottom: 26px;
  margin-bottom: 1.66em;
}

.progressBar h4 {
  font-size: 18px;
  text-transform: none;
  font-weight: bold;
  margin-bottom: 7px;
  margin-bottom: .33em;
}

.progressBarContainer {
  width: 100%;
  max-width: 350px;
  height: 26px;
  height: 1.66em;
  background: #c6c6c6;
  overflow: hidden;
}

.progressBarValue {
  height: 1.66em;
  float: left;
  

  background: -webkit-linear-gradient(315deg, #ff0000, #ff9400, #eeff00, #179242, #ff0090, #f0a0d1, #a0f0df, #0bbd97);
  background-size: 1000% 100%;
    background-repeat: no-repeat;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}

.value-00 { width: 0; }

.value-10 { width: 10%; }

.value-20 { width: 20%; }

.value-30 { width: 30%; }

.value-40 { width: 40%; }

.value-50 { width: 50%; }

.value-60 { width: 60%; }

.value-70 { width: 70%; }

.value-80 { width: 80%; }

.value-90 { width: 90%; }

.value-100 { width: 100%; }

.issuuembed{
  height: 700px;
}

/* ===========================
  Responsive
==============================*/
@media only screen and (max-width: 1448px) {
  .home-2.container {
    width: auto;
  }
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio-item {
    height: 450px;
  }
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .body-pad {
    padding: 0 30px;
  }
  .portfolio-item {
    height: 350px;
  }

  .footer-section, .work-together{
    text-align: center;
  }
  .work-together p{
    float: none;
    text-align: center;
    margin: 0;
  }
  .portfolio-filter {
    text-align: center;
  }

  .timeline{
    margin-bottom: 60px;
  }

  .contact-form{
    margin-top:40px;
  }

  .titulo{
    margin-bottom: 80px;
  }
  .issuuembed{
    height: 500px;
  }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
  .body-pad {
    padding: 0 15px;
  }
  .main-menu {
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 999;
    left: 0;
    top: 60px;
    display: none;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
  }

  .main-menu ul li a {
    padding: 10px 15px;
    border-bottom: 1px dotted #ddd;
    display: block;
    margin-right: 16px;
  }
  .main-menu ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .main-menu ul li:last-child a {
    border-bottom: none;
  }
  .home-2 {
    text-align: left;
  }
  .home-2 .main-menu {
    top: 99px;
  }
  .nav-switch {
    position: absolute;
    right: 10px;
    font-size: 30px;
    color: #333;
    top: 35px;
    display: block;
    z-index: 1000;
  }
  .header-btn {
    display: none;
  }
  .section-title {
    font-size: 45px;
  }
  .portfolio-filter {
    text-align: center;
  }

  .container-fluid{
    padding: 0;
  }

  .social-links{
    margin-top: 20px;
    text-align: center;
  }

  .work-together p{
    text-align: center;
    float: none;
    margin-right: 0;
  }

  .footer-section .copyright{
    text-align: center;
  }

  .footer-section{
    margin-top: 70px;
  }

  .logo{
    margin-left: 10px;
    margin-top: 8px;
  }

  .pt100{
    padding-top: 50px;
  }

  .portfolio-filter{
    padding-bottom: 60px;
  }

  .titulo{
    margin-bottom: 60px;
  }
  .descripcion-pro{
    margin-bottom: 100px;
  }

  .piña-logo{
    height: 260px;
  }

  .fixed{
      left: 20px;
      right: 20px;
  }
  .issuuembed{
    height: 400px;
  }
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .section-title {
    font-size: 30px;
  }
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}